workflows/sub-create-finish-material-sheet.json
{
  "name": "SUB - Create Finish Material Sheet",
  "nodes": [
    {
      "id": "sn-1",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        80
      ],
      "parameters": {
        "content": "## SUB - Create Finish Material Sheet\nInput:  { state, workspace, qb }\nOutput: { state, workspace, qb, fm: { sheet_id, sheet_url } }\n\nCreates Google Sheet with header + data rows, moves to Drive subfolder.\nReturns all incoming data plus fm results.",
        "height": 160,
        "width": 900,
        "color": 6
      }
    },
    {
      "id": "n01",
      "name": "When Called by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"state\": {},\n  \"workspace\": {},\n  \"qb\": {}\n}"
      }
    },
    {
      "id": "n02",
      "name": "HTTP: Sheets - Create Spreadsheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"properties\": { \"title\": \"{{ $json.state.fm_sheet_name }}\" }, \"sheets\": [{ \"properties\": { \"title\": \"Materials\" }, \"data\": [{ \"startRow\": 0, \"startColumn\": 0, \"rowData\": [ { \"values\": [ {\"userEnteredValue\":{\"stringValue\":\"Material\"}}, {\"userEnteredValue\":{\"stringValue\":\"Unit\"}}, {\"userEnteredValue\":{\"stringValue\":\"Supplied By\"}}, {\"userEnteredValue\":{\"stringValue\":\"Unit Price\"}}, {\"userEnteredValue\":{\"stringValue\":\"Quantity\"}}, {\"userEnteredValue\":{\"stringValue\":\"Total Price\"}}, {\"userEnteredValue\":{\"stringValue\":\"Specs / Model\"}}, {\"userEnteredValue\":{\"stringValue\":\"Purchase Link\"}}, {\"userEnteredValue\":{\"stringValue\":\"Ordered?\"}}, {\"userEnteredValue\":{\"stringValue\":\"Status\"}}, {\"userEnteredValue\":{\"stringValue\":\"Notes\"}} ] }, ...{{ JSON.stringify( $json.state.finish_materials.map((m, i) => ({ values: [ {userEnteredValue:{stringValue:m.material}}, {userEnteredValue:{stringValue:m.measure}}, {userEnteredValue:{stringValue:'By Client'}}, {userEnteredValue:{numberValue:m.unit_price}}, {userEnteredValue:{numberValue:m.qty}}, {userEnteredValue:{formulaValue:'=D'+(i+3)+'*E'+(i+3)}} ] })) ) }} ] }] }] }",
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_SHEETS_CRED",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "n03",
      "name": "HTTP: Drive - Move Sheet to Folder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        300
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.spreadsheetId }}?addParents={{ $('When Called by Another Workflow').first().json.workspace.folder_id }}&removeParents=root",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_GDRIVE_CRED",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "n04",
      "name": "Set: Return Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        840,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r0",
              "name": "state",
              "type": "object",
              "value": "={{ $('When Called by Another Workflow').first().json.state }}"
            },
            {
              "id": "r1",
              "name": "workspace",
              "type": "object",
              "value": "={{ $('When Called by Another Workflow').first().json.workspace }}"
            },
            {
              "id": "r2",
              "name": "qb",
              "type": "object",
              "value": "={{ $('When Called by Another Workflow').first().json.qb }}"
            },
            {
              "id": "r3",
              "name": "fm",
              "type": "object",
              "value": "={{ {\n  sheet_id:  $('HTTP: Sheets - Create Spreadsheet').first().json.spreadsheetId,\n  sheet_url: $('HTTP: Sheets - Create Spreadsheet').first().json.spreadsheetUrl\n} }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Called by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP: Sheets - Create Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Sheets - Create Spreadsheet": {
      "main": [
        [
          {
            "node": "HTTP: Drive - Move Sheet to Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Drive - Move Sheet to Folder": {
      "main": [
        [
          {
            "node": "Set: Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "REPLACE_ERROR_HANDLER_ID"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}